@import url("../css/variables.css");

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}