@import url("../css/variables.css");

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-secundario);
    height: 50%;
    width: 35%;
    border-radius: 5px;
}

main h1 {
    font-size: 45px;
}

#registro-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#registro-form label {
    font-size: 20px;
}

#registro-form input {
    background-color: var(--color-fondo);
    border: none;
    width: 80%;
    height: 25px;
    color: var(--color-texto);
    border-radius: 5px;
}

#registro-form button {
    background-color: var(--color-primario);
    height: 30px;
    width: 30%;
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#registro-form button:hover{
    background-color: var(--color-primario-hover);
    cursor: pointer;
}

.btn-volver {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-decoration: none;
    color: var(--color-texto);
    bottom: 20px;
    left: 20px;
    background-color: var(--color-primario);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: var(--color-primario-hover);
}

#notificacion {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 9999;
}

#notificacion.mostrar{
    opacity: 1;
}

@media (max-width: 480px) {
    main {
        width: 80%;
    }
}

@media (max-width: 1260px) {
    main h1 {
        font-size: 30px;
    }
}