@import url("../css/variables.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo-secundario);
    height: 50%;
    width: 25%;
    border-radius: 5px;
}

main h1{
    font-size: 45px;
}

#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#login-form label {
    font-size: 20px;
}

#login-form input {
    background-color: var(--color-fondo);
    border: none;
    width: 80%;
    height: 25px;
    color: var(--color-texto);
    border-radius: 5px;
}

#login-form button {
    background-color: var(--color-primario);
    height: 30px;
    width: 30%;
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#login-form button:hover{
    background-color: var(--color-primario-hover);
    cursor: pointer;
}

@media (max-width: 480px) {
    main {
        width: 80%;
    }
}