@import url("../css/variables.css");

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

aside {
    border-right: 1px solid black;
    width: 43vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-fondo-secundario);
    position: fixed;
}

.aside-superior {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Cinzel", serif;
    font-size: 20px;
    background-color: var(--color-primario);
    width: 100%;
    justify-content: space-around;
}

.logo img {
    width: 50px;
}

.aside-superior ul{
    list-style: none;
}

.aside-superior ul li{
    margin-bottom: 15px;
}

.aside-superior ul li::marker {
    content: "> ";
}

.aside-superior a {
    text-decoration: none;
    color: var(--color-texto);
}

.aside-superior a.activo{
    color: blue;
}

.aside-inferior {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

main {
    margin-left: 43vh;
    width: calc(100% - 43vh);
    min-height: 100vh;
}

.productos, .ventas {
    display: flex; width: 100%;
    justify-content: center;
}

.productos ul, .ventas ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.productos li, .ventas li {
    margin: 0 10px;
    list-style: none;
}

.productos a, .ventas a{
    text-decoration: none;
    color: var(--color-texto);
}

@font-face {
    font-family: "Cinzel";
    src: url("../assets/fonts/Cinzel-Regular.ttf");
}