@import url("../css/variables.css");

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

aside {
    border-right: 1px solid black;
    width: 43vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-fondo-secundario);
    position: fixed;
}

.aside-superior {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Cinzel", serif;
    font-size: 20px;
    background-color: var(--color-primario);
    width: 100%;
    justify-content: space-around;
}

.logo img {
    width: 50px;
}

.aside-superior ul{
    list-style: none;
}

.aside-superior ul li{
    margin-bottom: 15px;
}

.aside-superior ul li::marker {
    content: "> ";
}

.aside-superior a {
    text-decoration: none;
    color: var(--color-texto);
}

.aside-superior a.activo{
    color: blue;
}

.aside-inferior {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

main {
    margin-left: 43vh;
    width: calc(100% - 43vh);
    min-height: 100vh;
}

.productos, .ventas {
    display: flex; width: 100%;
    justify-content: center;
}

.productos ul, .ventas ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.productos li, .ventas li {
    margin: 0 10px;
    list-style: none;
}

.productos a, .ventas a{
    text-decoration: none;
    color: var(--color-texto);
}

.productos a.activo, .ventas a.activo {
    color: white;
    background-color: blue;
}

.tabla-productos {
    width: 100%;
}

.tabla-productos tr {
    border: 1px solid black;
}

.tabla-productos td {
    text-align: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
}

.img-wrapper img {
    height: 100%;
}

.imagen-producto, .categoria-producto, .precio-producto, .stock-producto, .habilitado-producto {
    width: 10%;
}

.id-producto {
    width: 2%;
}

.nombre-producto {
    width: 30%;
}

.btns-modificar-producto {
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

.btns-modificar-producto button {
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.btn-editar {
    background-color: lightgray;
}

.btn-editar:hover {
    background-color: rgb(177, 177, 177);
    cursor: pointer;
}

.btn-habilitar {
    background-color: lightgreen;
}

.btn-habilitar:hover {
    background-color: rgb(122, 202, 122);
    cursor: pointer;
}

.btn-deshabilitar {
    background-color: lightcoral;
}

.btn-deshabilitar:hover {
    background-color: rgb(204, 108, 108);
    cursor: pointer;
}

#toggle-habilitado-notificacion, #editar-notificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-fondo);
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 1000;

    pointer-events: auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.btn-confirmar {
    background-color: lightgreen;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.btn-confirmar:hover {
    background-color: rgb(122, 202, 122);
    cursor: pointer;
}

.btn-cancelar {
    background-color: lightcoral;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.btn-cancelar:hover {
    background-color: rgb(204, 108, 108);
    cursor: pointer;
}

.filtrado-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtros {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: "Cinzel";
    src: url("../assets/fonts/Cinzel-Regular.ttf");
}