@import url("variables.css");

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-size: 30px;
}

#form-nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

#form-nombre input {
    display: flex;
    border-radius: 5px;
    border: none;
    background-color: var(--color-fondo-secundario);
    height: 30px;
    width: 30%;
    text-align: center;
    font-size: 15px;
    color: var(--color-texto);
}

#form-nombre button {
    background-color: var(--color-primario);
    color: white;
    border: none;
    height: 30px;
    width: 10%;
    border-radius: 2px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

#form-nombre button:hover{
    background-color: var(--color-primario-hover);
    cursor: pointer;
}

@media (max-width: 480px) {
    #form-nombre input {
        width: 50%;
    }

    #form-nombre button {
        width: 25%;
    }

}