main {
    padding-top: 12vh;
    margin-left: 300px;
    padding-bottom: 8vh;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 12vh;
    width: 300px;
    height: calc(100% - 12vh);
    background-color: var(--color-fondo-secundario);
}

aside a{
    margin-top: auto;
    color: white;
    text-decoration: none;
    background-color: var(--rojo);
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

aside a:hover{
    background-color: var(--rojo-hover);
    cursor: pointer;
}

.selector-categoria {
    margin: 0;
    padding: 0;
}

.selector-categoria button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    border: none;
    background-color: var(--color-fondo-secundario);
}

.selector-categoria button:hover{
    background-color: var(--color-fondo);
    cursor: pointer;
}

.selector-categoria img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.selector-categoria p{
    color: var(--color-texto);
    font-size: 20px;
}

.selector-categoria.categoria-activo button{
    box-shadow: inset -6px 0 0 0 var(--color-primario);
}

#carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 300px);
    background-color: var(--carrito);
    height: 8vh;
    color: white;
}

.to-carrito {
    height: 100%;
    width: 30%;
    background-color: var(--carrito-secundario);
    border: none;
    color: white;
    font-size: 25px;
}

.to-carrito:hover{
    cursor: pointer;
}

.opciones-carrito {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    height: 100%;
}

.info-carrito {
    font-size: 20px;
}

.opciones-carrito button {
    font-size: 15px;
    height: 80%;
    width: 30vh;
    background-color: var(--rojo);
    border: none;
    border-radius: 5px;
}

.opciones-carrito button:hover {
    background-color: var(--rojo-hover);
    cursor: pointer;
}











#productos-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--color-fondo);
    align-items: stretch;
}   
@media(max-width: 1100px){
    #productos-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   

    aside {
        position: fixed;
        width: 200px;
    }

    aside a {
        width: 80px;
    }

    main {
        margin-left: 200px;
    }

    #carrito {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}
@media(max-width: 750px){

    .card-producto {
        max-width: 160px;
        padding: 0.5rem;
    }

    .img-wrapper {
        width: 120px;
        height: 120px;
    }

    .nombre-producto {
        font-size: 14px;
    }

    .precio-producto {
        font-size: 12px;
    }

    .btn-producto {
        height: 25px;
        font-size: 12px;
    }

    #productos-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 10px;
    }

    aside {
        position: fixed;
        width: 100%;
        height: 125px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 12vh;
    }

    .selector-categoria {
        height: 125px;
    }

    .selector-categoria button {
        height: 125px;
    }

    .selector-categoria button img {
        width: 80px;
    }

    .selector-categoria button p {
        font-size: 12px;
    }

    .selector-categoria.categoria-activo button{
        box-shadow: inset 0 -6px 0 0 var(--color-primario);
    }

    main {
        margin-left: 0;
        padding-top: 20vh;
    }

    #carrito {
        margin-left: 0;
        width: 100%;
    }

    .opciones-carrito {
        width: 60%;
    }

    .info-carrito {
        font-size: 15px;
        width: 60%;
    }

    #vaciar-carrito {
        width: 40%;
        font-size: 12px;
    }

    .to-carrito {
        font-size: 15px;
    }

    main {
        padding-top: calc(12vh + 125px);
    }

}

.card-producto {
    background-color: var(--color-fondo-secundario);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
}

.card-producto button {
    margin-top: auto;
}

.img-wrapper {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .img {
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
} */

.nombre-producto, .precio-producto, .btn-producto{
    color: var(--color-texto);
}

.nombre-producto{
    font-size: 25px;
}

.precio-producto {
    margin: 0.5rem 0;
}

.btn-producto {
    background-color: var(--color-primario);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.btn-producto:hover {
    background-color: var(--color-primario-hover);
    cursor: pointer;
}

.cantidad-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cantidad-elegida {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
}

.btn-sumar, .btn-restar {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: lighter;
}

.btn-sumar:hover, .btn-restar:hover{
    cursor: pointer;
}

.btn-eliminar {
    background-color: var(--rojo);
}

.btn-eliminar:hover {
    background-color: var(--rojo-hover);
}

#notificacion {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4444;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 9999;
}

#notificacion.mostrar{
    opacity: 1;
}