#productos-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--color-fondo);
}   
@media(max-width: 1100px){
    #productos-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}   
}
@media(max-width: 750px){
    #productos-section {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}   
}

.card-producto {
    background-color: var(--color-fondo-secundario);
    width: 300px;
    height: 450px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
}

.nombre, .precio, .btn{
    color: #fff;
}

.nombre{
    font-size: 25px;
}

.precio {
    margin: 0.5rem 0;
}

.btn{
    background-color: var(--color-primario);
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
}

#orden-buttons {
    background-color: var(--color-fondo);
    padding-top: 1rem;
}
